body {
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: aquamarine;
}

.content {
  margin: 30px auto;
  width: 90vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.content-field-posts {
  margin-left: 20px;
  position: relative;
  height: 400px;
  background-color: greenyellow;
}

.content-field-posts::before {
  content: '';
  position: absolute;
  width: 15px;
  left: 0;
  top: 15px;
  bottom: 0;
  border: solid black;
  border-width: 0px 1px 0px;
  background-color: cornsilk;
}

.content-field-input {
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: stretch;
  background-color: cornsilk;
}

.field-input {
  flex-grow: 1;
  border-width: 0px;
  padding: 5px 10px;
  border: 0px solid black;
  border-width: 0px 1px 0px 0px;
}

.input-actions {
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.action-micro {
  background-image: url('../img/mic.svg');
  margin: 5px 20px;
  background-size: 2vmax;
}

.action-video {
  background-image: url('../img/video.svg');
  margin: 5px 20px 5px 0px;
  background-size: 3vmax;
}

.background-popup {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 300px;
  background-color: cornsilk;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px;
}

.popup p:first-child {
  margin-top: 0px;
}

.popup-input {
  width: 300px;
  box-sizing: border-box;
  padding: 5px;
}

.popup-control {
  text-align: right;
  margin-top: 10px;
}

.popup-control button:nth-child(n+1) {
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  width: 80px;
  color: black;
  font-size: 16px;
}

button {
  background-color: cornsilk;
}

button:hover {
  background-color: aquamarine;
}

button:active {
  background-color: rgb(43, 248, 180);
}

.content-post {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  position: relative;
  background-color: cornsilk;
}

.content-post::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  left: -33px;
  background-color: cornsilk;
}

.content-row {
  display: flex;
  position: relative;
}

.post-message {
  margin-right: 10px;
  width: 75%;
  word-wrap: break-word;
}

.post-date {
  width: 25%;
  text-align: center;
}

.post-cords {
  margin-top: 10px;
}